aside#userlogin
    - if (everyauth.loggedIn)
        - if (everyauth.twitter)
            span Welcome 
                a(href='/account', class='account') #{everyauth.twitter.user.name}
        - else if (everyauth.facebook)
            span Welcome 
                a(href='/account', class='account') #{everyauth.facebook.user.name}
        - else if (everyauth.google)
            span Welcome 
                a(href='/account', class='account') #{everyauth.google.user.name}
        a(href='/logout') Log out
    - else
        ul
            li
                a(href='/auth/twitter') Log in with twitter
            li
                a(href='/auth/facebook') Log in with facebook
            li
                a(href='/auth/google') Log in with google