<form id="edit-userinfo" action="#" method="post" class="form-horizontal">
	<fieldset>
		<legend>Update your personal info</legend>
		<div class="control-group">
			<label for="name" class="control-label">Name</label>
			<div class="controls">
				<input type="text" id="name" value="{{name}}" placeholder="Johnny Appleseed" class="span3 input-xlarge" />
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group">
			<label for="email" class="control-label">Email</label>
			<div class="controls">
				<input type="email" id="email" value="{{email}}" placeholder="johnny@someemail.com" class="span3 input-xlarge" />
				<span class="help-block"></span>
			</div>
		</div>
		<div class="control-group buttonset">
			<input type="submit" id="save" value="Save" class="btn-success btn-large" />
			<a href="/account" class="cancel">Cancel</a>
		</div>
	</fieldset>
</form>